/* ===== MONITOR STYLE ===== */

.table {
  color: #f8fafc;
}

.table thead {
  background: rgba(34,197,94,0.2);
}

.status-normal {
  color: #22c55e;
  font-weight: bold;
}

.status-alerta {
  color: #ef4444;
  font-weight: bold;
}